name: resolve-vote-on-atr
on:
  workflow_dispatch:
    inputs:
      version:
        description: Release version
        required: true
        type: string
      resolve_resolution:
        description: Vote resolution
        required: true
        type: choice
        options:
          - passed
          - failed
        default: passed

permissions: { contents: read }

jobs:
  resolve-vote:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Resolve vote on ATR
        uses: apache/tooling-actions/release-on-atr@b9819f85624ebe71db74d67f8a1f48cc962f83a8
        with:
          version: ${{ inputs.version }}
          resolve: "true"
          resolve-resolution: ${{ inputs.resolve_resolution }}
